<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Channels">
    <setting label="Favourites" type="labelenum" id="dispfavourites" default="0" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="TF1" type="labelenum" id="disptf1" default="1" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="France 2" type="labelenum" id="dispfrance2" default="2" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="France 3" type="labelenum" id="dispfrance3" default="3" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="France 4" type="labelenum" id="dispfrance4" default="6" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="France 5" type="labelenum" id="dispfrance5" default="7" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="France 1" type="labelenum" id="dispfrance1" default="17" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="France O" type="labelenum" id="dispfranceo" default="18" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="Canal +" type="labelenum" id="dispcplus" default="4" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="ARTE" type="labelenum" id="disparte" default="5" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="D8" type="labelenum" id="dispd8" default="8" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="D17" type="labelenum" id="dispd17" default="9" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="NT1" type="labelenum" id="dispnt1" default="19" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="TMC" type="labelenum" id="disptmc" default="18" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="NRJ12" type="labelenum" id="dispnrj12" default="12" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="BFM TV" type="labelenum" id="dispbfmtv" default="15" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="iTele" type="labelenum" id="dispitele" default="14" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
    <setting label="Tou.tv" type="labelenum" id="disptoutv" default="13" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|99"/>
  </category>
  <category label="Download">
    <setting label="32000" type="folder" id="dlFolder" source="auto" option="writeable"/>
  </category>
  <category label="Misc">
    <setting label="32101" type="bool" id="tf1Bonus" default="true"/> 
    <setting label="32102" type="bool" id="tmcBonus" default="true"/> 
    <setting label="32103" type="bool" id="nt1Bonus" default="true"/>      
  </category>    
</settings>
